# TP3 - Views, Updates and Design

The objectives for this TP are:

1. Create and use SQL Views
2. Update database content
3. Design the database schema for a Social Network

___

For the first 2 parts we will use the **`wine.db`** database and the Tables created in TP2.

A reminder of the wine database schema:

<center>**Master1**</center>

|*Attribute*|         *Description*          |
| -------   |--------------------------------|
| NV        | Wine number                    |
| CRU       | Vineyard or group of vineyards |
| DEGRE     | Alcohol content                |
| MILL      | Vintage year                   |
| QTE       | Number of bottles harvested    |
| NP        | Producer number                |
| NOM       | Producer's last name           |
| PRENOM    | Producer's first name          |
| REGION    | Production region              |

<center>**Master2**</center>

|*Attribute*|                         *Description*                  |
| -------   |--------------------------------------------------------|
| NV        | Wine number                                            |
| CRU       | Vineyard or group of vineyards                         |
| DEGRE     | Alcohol content                                        |
| MILL      | Vintage year                                           |
| DATES     | Buying date                                            |
| LIEU      | Place where the wine was sold                          |
| QTE       | Number of bottles bought                               |
| NB        | Client (buveur) number                                 |
| NOM       | Client's last name                                     |
| PRENOM    | Client's first name                                    |
| TYPE      | Type of client by volume of purchases                  |
| REGION    | Administrative Region (different to production region) |

In [2]:
import sqlite3

In [3]:
def printSchema(connection):
    ### Source: http://stackoverflow.com/a/35092773/4765776
    for (tableName,) in connection.execute(
        """
        select NAME from SQLITE_MASTER where TYPE='table' order by NAME;
        """
    ):
        print("{}:".format(tableName))
        for (
            columnID, columnName, columnType,
            columnNotNull, columnDefault, columnPK,
        ) in connection.execute("pragma table_info('{}');".format(tableName)):
            print("  {id}: {name}({type}){null}{default}{pk}".format(
                id=columnID,
                name=columnName,
                type=columnType,
                null=" not null" if columnNotNull else "",
                default=" [{}]".format(columnDefault) if columnDefault else "",
                pk=" *{}".format(columnPK) if columnPK else "",
            ))

In [5]:
conn = sqlite3.connect('wine.db')
c = conn.cursor()
print("Database schema:")
printSchema(conn)

Database schema:
CLIENT:
  0: NB(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: TYPE(TEXT)
MASTER1:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: QTE(NUM)
  5: NP(NUM)
  6: NOM(TEXT)
  7: PRENOM(TEXT)
  8: REGION(TEXT)
MASTER2:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: DATES(DATE)
  5: LIEU(TEXT)
  6: QTE(NUM)
  7: NB(NUM)
  8: NOM(TEXT)
  9: PRENOM(TEXT)
  10: TYPE(TEXT)
  11: REGION(TEXT)
PRODUCTION:
  0: NP(NUM)
  1: NV(NUM)
  2: QTE(NUM)
PRODUCTOR:
  0: NP(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: REGION(TEXT)
RBA:
  0: NB(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: TYPE(TEXT)
RBB:
  0: NB(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: TYPE(TEXT)
REGION_LIEU:
  0: LIEU(TEXT)
  1: REGION(TEXT)
SALES:
  0: NB(NUM)
  1: NV(NUM)
  2: QTE(NUM)
  3: LIEU(TEXT)
  4: DATES(NUM)
WINE:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
WINE2:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)

Again, we will use **`%%sql`** magic for our queries

In [6]:
%load_ext sql
%sql sqlite:///wine.db

u'Connected: None@wine.db'

Recreate the Normalized Tables from **Master1** and **Master2** as you did in the TP2

In [7]:
%%sql 
-- Create PRODUCTOR TABLE 
DROP TABLE IF EXISTS PRODUCTOR;
CREATE TABLE PRODUCTOR AS
SELECT DISTINCT NP, NOM, PRENOM, REGION
FROM MASTER1
WHERE NP IS NOT NULL; 

-- Create WINE TABLE 
DROP TABLE IF EXISTS WINE;
CREATE TABLE WINE AS
SELECT  DISTINCT NV, CRU, DEGRE, MILL
FROM MASTER1
WHERE NV IS NOT NULL; 

--  Create PRODUCTION TABLE 
DROP TABLE IF EXISTS PRODUCTION;
CREATE TABLE PRODUCTION AS
SELECT   NP,NV, QTE
FROM MASTER1
WHERE NV IS NOT NULL or NP is not null; 
-- Create PRODUCTION TABLE 
DROP TABLE IF EXISTS PRODUCTION;
CREATE TABLE PRODUCTION AS
SELECT   NP,NV, QTE
FROM MASTER1
WHERE NV IS NOT NULL or NP is not null; 

-- Create WINE2 TABLE 
DROP TABLE IF EXISTS WINE2;
CREATE TABLE WINE2 AS
SELECT  DISTINCT NV, CRU, DEGRE, MILL
FROM MASTER2
WHERE NV IS NOT NULL; 
-- Create CLIENT TABLE 
DROP TABLE IF EXISTS CLIENT;
CREATE TABLE CLIENT AS
SELECT  DISTINCT NB, NOM, PRENOM,TYPE
FROM MASTER2
WHERE NB IS NOT NULL; 
--- Create SALES TABLE 
DROP TABLE IF EXISTS SALES;
CREATE TABLE SALES AS
SELECT  NB,NV, QTE, LIEU,DATES
FROM MASTER2
WHERE NV IS NOT NULL or NB is not null; 
--- Create REGION_LIEU TABLE 
DROP TABLE IF EXISTS REGION_LIEU;
CREATE TABLE REGION_LIEU AS
SELECT  DISTINCT LIEU, REGION
FROM MASTER2
WHERE NV IS NOT NULL or NB is not null;

Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

___
# PART I: CREATE AND USE VIEWS

A view is a virtual table based on the result-set of an SQL statement. Views are stored in the database with an associated name.

Views are created following the syntax:

```mysql
CREATE VIEW view_name AS
SELECT column1, column2.....
FROM table_name
WHERE [condition];
```

An useful command:

```mysql
DROP VIEW IF EXISTS view_name;
```


__Warning:__ Use `DROP` with caution (only drop something if you are sure)

__Note:__ You will find some cells marked as "Test" that will help you check your work. Do NOT modify them.

#### Exercise 1.1

Create a view "**bons_buveurs**" with the clients (buveurs) of type 'gros' or 'moyen'.

In [8]:
%%sql
DROP VIEW IF EXISTS bons_buveurs;
CREATE VIEW bons_buveurs AS
SELECT NB,NOM, PRENOM, TYPE
FROM CLIENT
WHERE TYPE='gros' or TYPE='moyen'

Done.
Done.

[]

In [7]:
# Test
%%sql SELECT * FROM bons_buveurs ORDER BY nb;

Done.

[(2, 'Artaud', 'Antonin', 'moyen'),
 (3, 'Aron', 'Raymond', 'gros'),
 (4, 'Apollinaire', 'Guillaume', 'moyen'),
 (6, 'Arrabal', 'Fernando', 'gros'),
 (7, 'Anouilh', 'Jean', 'moyen'),
 (8, 'Aragon', 'Louis', 'gros'),
 (10, 'Andersen', 'Yann', 'gros'),
 (12, 'Bataille', 'Georges', 'moyen'),
 (13, 'Barthes', 'Roland', 'moyen'),
 (14, 'Bory', 'Jean Louis', 'gros'),
 (16, 'Balzac', 'Honore de', 'moyen'),
 (18, 'Celine', 'Louis Ferdinand', 'gros'),
 (19, 'Ciceron', None, 'gros'),
 (20, 'Chateaubriand', 'Francois-Rene de', 'moyen'),
 (22, 'Cocteau', 'Jean', 'gros'),
 (24, 'Courrier', 'Paul Louis', 'moyen'),
 (26, 'Diderot', 'Denis', 'moyen'),
 (27, 'Dumas', 'Alexandre', 'gros'),
 (28, 'Dostoievsky', 'Fiodor', 'gros'),
 (31, 'Dante', None, 'gros'),
 (32, 'Eluard', 'Paul', 'moyen'),
 (33, 'Flaubert', 'Gustave', 'moyen'),
 (35, 'Fromentin', 'Eugene', 'gros'),
 (39, 'Montesquieu', None, 'gros'),
 (42, 'Goethe', 'Johann Wolfgang von', 'moyen'),
 (43, 'Musset', 'Alfred de', 'gros'),
 (46, 'Hugo', 'Victor', 'moyen'),
 (48, 'Hardy', 'Thomas', 'moyen'),
 (50, 'Lautreamont', None, 'moyen'),
 (53, 'Lamartine', 'Alphonse de', 'gros'),
 (55, 'Michelet', 'Jules', 'gros'),
 (57, 'Marx', 'Karl', 'gros'),
 (58, 'Marivaux', 'Pierre Carlet de Chamblain de', 'gros'),
 (60, 'Ovide', None, 'gros'),
 (62, 'Proust', 'Marcel', 'moyen'),
 (64, 'Platon', None, 'gros'),
 (66, 'Perec', 'Georges', 'gros'),
 (68, 'Prevert', 'Jacques', 'gros'),
 (70, 'Paulhan', 'Jean', 'gros'),
 (72, 'Rabelais', 'Francois', 'gros'),
 (73, 'Poe', 'Allan Edgard', 'moyen'),
 (75, 'Ronsard', 'Pierre', 'moyen'),
 (76, 'Racine', 'Jean', 'gros'),
 (78, 'Sandier', 'Jules', 'moyen'),
 (79, 'Sade', 'Donatien Alphonse Fran¿¿s de', 'gros'),
 (81, 'Sartre', 'Jean-Paul', 'gros'),
 (83, 'Sophocle', None, 'gros'),
 (84, 'Sue', 'Eugene', 'moyen'),
 (86, 'Saint Exupery', 'Antoine de', 'gros'),
 (87, 'Segur', 'Comtesse de', 'gros'),
 (91, 'Verlaine', 'Paul', 'gros'),
 (93, 'Virgile', None, 'gros'),
 (94, 'Zola', 'Emile', 'moyen'),
 (95, 'Zorn', 'Fritz', 'moyen'),
 (98, 'Maturin', 'Robert', 'gros'),
 (99, 'Cesar', 'Jules', 'gros')]

#### Exercise 1.2

Create the view "**buveurs_asec**" with clients (buveurs) who have not bought any wine.

In [9]:
%%sql 
DROP VIEW IF EXISTS buveurs_asec;
CREATE VIEW buveurs_asec AS
select S.nb, C.nom, C.prenom, C.type
from SALES S , CLIENT C
where S.NB=C.NB
GROUP BY S.NB
HAVING count(distinct nv)=0

Done.
Done.

[]

In [9]:
# Test
%sql SELECT * FROM buveurs_asec ORDER BY nb;

Done.

[(11, 'Breton', 'Andre', 'petit'),
 (13, 'Barthes', 'Roland', 'moyen'),
 (16, 'Balzac', 'Honore de', 'moyen'),
 (18, 'Celine', 'Louis Ferdinand', 'gros'),
 (20, 'Chateaubriand', 'Francois-Rene de', 'moyen'),
 (21, 'Corbiere', 'Tristan', 'petit'),
 (23, 'Corneille', 'Pierre', 'petit'),
 (25, 'Char', 'Rene', 'petit'),
 (27, 'Dumas', 'Alexandre', 'gros'),
 (29, 'Fournier', 'Alain', 'petit'),
 (32, 'Eluard', 'Paul', 'moyen'),
 (34, 'Mauriac', 'Francois', 'petit'),
 (35, 'Fromentin', 'Eugene', 'gros'),
 (36, 'Maurois', 'Andre', 'petit'),
 (37, 'Freud', 'Sigmund', 'petit'),
 (39, 'Montesquieu', None, 'gros'),
 (42, 'Goethe', 'Johann Wolfgang von', 'moyen'),
 (43, 'Musset', 'Alfred de', 'gros'),
 (46, 'Hugo', 'Victor', 'moyen'),
 (47, 'Gary', 'Romain', 'petit'),
 (51, 'Lafargue', 'Paul', 'petit'),
 (53, 'Lamartine', 'Alphonse de', 'gros'),
 (54, 'Aurele', 'Marc', 'petit'),
 (55, 'Michelet', 'Jules', 'gros'),
 (56, 'Nerval', 'Gerard de', 'petit'),
 (57, 'Marx', 'Karl', 'gros'),
 (59, 'Nietzsche', 'Friedrich', 'petit'),
 (63, 'Maupassant', 'Guy de', 'petit'),
 (64, 'Platon', None, 'gros'),
 (65, 'Pascal', 'Blaise', 'petit'),
 (66, 'Perec', 'Georges', 'gros'),
 (67, 'Nin', 'Anais', 'petit'),
 (68, 'Prevert', 'Jacques', 'gros'),
 (69, 'Queneau', 'Raymond', 'petit'),
 (70, 'Paulhan', 'Jean', 'gros'),
 (71, 'Radiguet', 'Raymond', 'petit'),
 (72, 'Rabelais', 'Francois', 'gros'),
 (73, 'Poe', 'Allan Edgard', 'moyen'),
 (74, 'Rimbaud', 'Arthur', 'petit'),
 (76, 'Racine', 'Jean', 'gros'),
 (77, 'Rousseau', 'Jean-Jacques', 'petit'),
 (78, 'Sandier', 'Jules', 'moyen'),
 (79, 'Sade', 'Donatien Alphonse Fran¿¿s de', 'gros'),
 (81, 'Sartre', 'Jean-Paul', 'gros'),
 (83, 'Sophocle', None, 'gros'),
 (84, 'Sue', 'Eugene', 'moyen'),
 (85, 'Segalen', 'Victor', 'petit'),
 (86, 'Saint Exupery', 'Antoine de', 'gros'),
 (87, 'Segur', 'Comtesse de', 'gros'),
 (88, 'Shakespeare', 'William', 'petit'),
 (89, 'Stendhal', None, 'petit'),
 (90, 'Vian', 'Boris', 'petit'),
 (91, 'Verlaine', 'Paul', 'gros'),
 (93, 'Virgile', None, 'gros'),
 (95, 'Zorn', 'Fritz', 'moyen'),
 (98, 'Maturin', 'Robert', 'gros'),
 (99, 'Cesar', 'Jules', 'gros')]

#### Exercise 1.3

Create the view "**buveurs_achats**" complementary to the previous one.

In [10]:
%%sql 
DROP VIEW IF EXISTS buveurs_achats;
CREATE VIEW buveurs_achats AS
select S.nb, C.nom, C.prenom, C.type
from SALES S , CLIENT C
where S.NB=C.NB
GROUP BY S.NB
HAVING count(distinct nv)>=1

Done.
Done.

[]

In [11]:
# Test
%sql SELECT * FROM buveurs_achats ORDER BY nb;

Done.

[(1, 'Aristote', None, 'petit'),
 (2, 'Artaud', 'Antonin', 'moyen'),
 (3, 'Aron', 'Raymond', 'gros'),
 (4, 'Apollinaire', 'Guillaume', 'moyen'),
 (5, 'Audiberti', 'Jacques', 'petit'),
 (6, 'Arrabal', 'Fernando', 'gros'),
 (7, 'Anouilh', 'Jean', 'moyen'),
 (8, 'Aragon', 'Louis', 'gros'),
 (9, 'Ajar', 'Emile', 'petit'),
 (10, 'Andersen', 'Yann', 'gros'),
 (12, 'Bataille', 'Georges', 'moyen'),
 (14, 'Bory', 'Jean Louis', 'gros'),
 (15, 'Baudelaire', 'Charles', 'petit'),
 (17, 'Camus', 'Albert', 'petit'),
 (19, 'Ciceron', None, 'gros'),
 (22, 'Cocteau', 'Jean', 'gros'),
 (24, 'Courrier', 'Paul Louis', 'moyen'),
 (26, 'Diderot', 'Denis', 'moyen'),
 (28, 'Dostoievsky', 'Fiodor', 'gros'),
 (30, 'La Fontaine', 'Jean de', 'petit'),
 (31, 'Dante', None, 'gros'),
 (33, 'Flaubert', 'Gustave', 'moyen'),
 (38, 'Montaigne', 'Michel de', 'petit'),
 (40, 'Moliere', None, 'petit'),
 (41, 'Gauthier', 'Theophile', 'petit'),
 (44, 'Gide', 'Andre', 'petit'),
 (45, 'Giono', 'Jean', 'petit'),
 (48, 'Hardy', 'Thomas', 'moyen'),
 (49, 'Kafka', 'Franz', 'petit'),
 (50, 'Lautreamont', None, 'moyen'),
 (52, 'Carroll', 'Lewis', 'petit'),
 (58, 'Marivaux', 'Pierre Carlet de Chamblain de', 'gros'),
 (60, 'Ovide', None, 'gros'),
 (61, 'Mallarme', 'Stephane', 'petit'),
 (62, 'Proust', 'Marcel', 'moyen'),
 (75, 'Ronsard', 'Pierre', 'moyen'),
 (80, 'Sand', 'Georges', 'petit'),
 (82, 'Roussel', 'Rene', 'petit'),
 (92, 'Verne', 'Jules', 'petit'),
 (94, 'Zola', 'Emile', 'moyen'),
 (96, 'Wilde', 'Oscar', 'petit'),
 (97, 'Vigny', 'Alfred de', 'petit'),
 (100, 'Woolf', 'Virginia', 'petit')]

#### Exercise 1.4

Create the view "**q83pl**" (LIEU, CRU, QTE_BUE) that provides by LIEU and CRU the total quantities bought in 1983 by all the clients (buveurs).

In [11]:
%%sql 
DROP VIEW IF EXISTS q83pl;
CREATE VIEW q83pl AS
select RL.LIEU, CRU , SUM(QTE) as QTE_BUE
from REGION_LIEU RL, SALES S, WINE2 W
where RL.LIEU=S.LIEU and
       S.NV=W.NV and 
       strftime('%Y', DATES)='1983'
GROUP BY RL.LIEU, CRU

Done.
Done.

[]

In [74]:
%%sql 
SELECT * 
FROM q83pl 
limit 10

Done.

[(u'CAEN', u'Seyssel', 3),
 (u'LILLE', u'Pommard', 5),
 (u'LYON', u'Beaujolais Villages', 10),
 (u'LYON', u'Julienas', 2),
 (u'PARIS', u'Beaujolais Primeur', 4),
 (u'PARIS', u'Coteaux du Tricastin', 1),
 (u'PARIS', u'Pouilly Vinzelles', 3),
 (u'RENNES', u'Mercurey', 1),
 (u'ROCQUENCOURT', u'Beaujolais Villages', 260),
 (u'ROCQUENCOURT', u'Saint Amour', 80)]

In [13]:
# Test
%sql SELECT * FROM q83pl;

Done.

[('CAEN', 'Seyssel', 3),
 ('LILLE', 'Pommard', 5),
 ('LYON', 'Beaujolais Villages', 10),
 ('LYON', 'Julienas', 2),
 ('PARIS', 'Beaujolais Primeur', 4),
 ('PARIS', 'Coteaux du Tricastin', 1),
 ('PARIS', 'Pouilly Vinzelles', 3),
 ('RENNES', 'Mercurey', 1),
 ('ROCQUENCOURT', 'Beaujolais Villages', 260),
 ('ROCQUENCOURT', 'Saint Amour', 80)]

#### Exercise 1.5

Can we define the same view with ascending order over the attribute "QTE"? Provide an explanation for your answer.

Answer: Yes , WE just have to specify the ORDER BY QTE_BUE clause at the end of the query.

In [12]:
%%sql 
DROP VIEW IF EXISTS q83pl_qte_asc;
CREATE VIEW q83pl_qte_asc AS
select RL.LIEU, CRU , SUM(QTE) as QTE_BUE
from REGION_LIEU RL, SALES S, WINE2 W
where RL.LIEU=S.LIEU and
       S.NV=W.NV and 
       strftime('%Y', DATES)='1983'
GROUP BY RL.LIEU, CRU 
ORDER BY QTE_BUE

Done.
Done.

[]

In [59]:
%%sql 
select * 
from q83pl_qte_asc 
limit 15

Done.

[(u'PARIS', u'Coteaux du Tricastin', 1),
 (u'RENNES', u'Mercurey', 1),
 (u'LYON', u'Julienas', 2),
 (u'CAEN', u'Seyssel', 3),
 (u'PARIS', u'Pouilly Vinzelles', 3),
 (u'PARIS', u'Beaujolais Primeur', 4),
 (u'LILLE', u'Pommard', 5),
 (u'LYON', u'Beaujolais Villages', 10),
 (u'ROCQUENCOURT', u'Saint Amour', 80),
 (u'ROCQUENCOURT', u'Beaujolais Villages', 260)]

___
# PART II: UPDATE DATABASE CONTENT

The syntax for the `UPDATE` operation is:

```sql
UPDATE table_name
SET column1 = value1, column2 = value2...., columnN = valueN
WHERE [condition];
```

The syntax for the `INSERT` operation is:

```sql
INSERT INTO table_name [(column1, column2, column3,...columnN)]  
VALUES (value1, value2, value3,...valueN);
```

Database updates are commited automatically in Jupyter/Python. _Transactions_ are an option to control and reverse changes. Additionally we can just reload a backup of the database (NOT an option in deployed systems)

__Note:__ Different to other Database Management Systems, SQLite views are read-only and so you can not execute a `DELETE`, `INSERT` or `UPDATE` statement on a view.

#### Exercise 2.1

Create a table "**RBB**" with the same schema as "**bons_buveurs**" which contains the tuples selected from "**bons_buveurs**"

In [13]:
%%sql 
-- Create PRODUCTOR RBB 
DROP TABLE IF EXISTS RBB;
CREATE TABLE RBB AS
SELECT *
FROM bons_buveurs
ORDER BY NB

Done.
Done.

[]

In [14]:
# Test
%sql SELECT * FROM RBB;

Done.

[(2, u'Artaud', u'Antonin', u'moyen'),
 (3, u'Aron', u'Raymond', u'gros'),
 (4, u'Apollinaire', u'Guillaume', u'moyen'),
 (6, u'Arrabal', u'Fernando', u'gros'),
 (7, u'Anouilh', u'Jean', u'moyen'),
 (8, u'Aragon', u'Louis', u'gros'),
 (10, u'Andersen', u'Yann', u'gros'),
 (12, u'Bataille', u'Georges', u'moyen'),
 (13, u'Barthes', u'Roland', u'moyen'),
 (14, u'Bory', u'Jean Louis', u'gros'),
 (16, u'Balzac', u'Honore de', u'moyen'),
 (18, u'Celine', u'Louis Ferdinand', u'gros'),
 (19, u'Ciceron', None, u'gros'),
 (20, u'Chateaubriand', u'Francois-Rene de', u'moyen'),
 (22, u'Cocteau', u'Jean', u'gros'),
 (24, u'Courrier', u'Paul Louis', u'moyen'),
 (26, u'Diderot', u'Denis', u'moyen'),
 (27, u'Dumas', u'Alexandre', u'gros'),
 (28, u'Dostoievsky', u'Fiodor', u'gros'),
 (31, u'Dante', None, u'gros'),
 (32, u'Eluard', u'Paul', u'moyen'),
 (33, u'Flaubert', u'Gustave', u'moyen'),
 (35, u'Fromentin', u'Eugene', u'gros'),
 (39, u'Montesquieu', None, u'gros'),
 (42, u'Goethe', u'Johann Wolfgang von', u'moyen'),
 (43, u'Musset', u'Alfred de', u'gros'),
 (46, u'Hugo', u'Victor', u'moyen'),
 (48, u'Hardy', u'Thomas', u'moyen'),
 (50, u'Lautreamont', None, u'moyen'),
 (53, u'Lamartine', u'Alphonse de', u'gros'),
 (55, u'Michelet', u'Jules', u'gros'),
 (57, u'Marx', u'Karl', u'gros'),
 (58, u'Marivaux', u'Pierre Carlet de Chamblain de', u'gros'),
 (60, u'Ovide', None, u'gros'),
 (62, u'Proust', u'Marcel', u'moyen'),
 (64, u'Platon', None, u'gros'),
 (66, u'Perec', u'Georges', u'gros'),
 (68, u'Prevert', u'Jacques', u'gros'),
 (70, u'Paulhan', u'Jean', u'gros'),
 (72, u'Rabelais', u'Francois', u'gros'),
 (73, u'Poe', u'Allan Edgard', u'moyen'),
 (75, u'Ronsard', u'Pierre', u'moyen'),
 (76, u'Racine', u'Jean', u'gros'),
 (78, u'Sandier', u'Jules', u'moyen'),
 (79, u'Sade', u'Donatien Alphonse Fran\xbf\xbfs de', u'gros'),
 (81, u'Sartre', u'Jean-Paul', u'gros'),
 (83, u'Sophocle', None, u'gros'),
 (84, u'Sue', u'Eugene', u'moyen'),
 (86, u'Saint Exupery', u'Antoine de', u'gros'),
 (87, u'Segur', u'Comtesse de', u'gros'),
 (91, u'Verlaine', u'Paul', u'gros'),
 (93, u'Virgile', None, u'gros'),
 (94, u'Zola', u'Emile', u'moyen'),
 (95, u'Zorn', u'Fritz', u'moyen'),
 (98, u'Maturin', u'Robert', u'gros'),
 (99, u'Cesar', u'Jules', u'gros')]

#### Exercise 2.2

Update the table you used to create "**bons_buveurs**": Change the "type" to 'gros' if the total of quantities bought is over 100.

Find the instances to update (schema may differ from the one in your table)

In [15]:
%%sql
select SALES.NB,NOM,PRENOM, TYPE, sum(QTE) as total
from SALES , CLIENT 
WHERE SALES.NB=CLIENT.NB AND TYPE!='gros'
GROUP BY SALES.NB 
HAVING  total>100

Done.

[(2, u'Artaud', u'Antonin', u'moyen', 583),
 (5, u'Audiberti', u'Jacques', u'petit', 113),
 (9, u'Ajar', u'Emile', u'petit', 140),
 (44, u'Gide', u'Andre', u'petit', 171)]

Update instances

In [16]:
%%sql
UPDATE ClIENT
SET TYPE = 'gros' 
WHERE NB in (select SALES.NB
             from SALES , CLIENT 
              WHERE SALES.NB=CLIENT.NB AND TYPE!='gros'
              GROUP BY SALES.NB 
               HAVING  sum(qte)>100
              )

4 rows affected.

[]

4 rows affected.

[]

#### Exercise 2.3

Compare the content of _table_ "**RBB**" and the _view_ "**bons_buveurs**" after the update. What differences do you see? Explain

Answer: 
The table RBB is the same , while the view bons_buveurs have more rows than before. 
RBB is a **table** in complete independence from the original table CLIENT, they don't have neither dependencies nor referential integrity constraints , for these reasons the content of table RBB don't change after the update. Wheras bons_buveurs is a "permanent" **VIEW** build on the table CLIENT. This is why updating the the table CLIEN may cause updates also in the VIEW. In this case new rows were added to bons_buveurs because after the update, there are new rows included into the result of the query used to buid bons_buveurs.

#### Exercise 2.4

Create a table "**RBA**" with the same schema as "**buveurs_asec**" which contains the tuples selected from "**buveurs_asec**"

In [17]:
%%sql 
-- Create RBA 
DROP TABLE IF EXISTS RBA;
CREATE TABLE RBA AS
SELECT *
FROM buveurs_asec
ORDER BY NB

Done.
Done.

[]

In [18]:
%%sql 
SELECT * 
FROM RBA
LIMIT 5

Done.

[(11, u'Breton', u'Andre', u'petit'),
 (13, u'Barthes', u'Roland', u'moyen'),
 (16, u'Balzac', u'Honore de', u'moyen'),
 (18, u'Celine', u'Louis Ferdinand', u'gros'),
 (20, u'Chateaubriand', u'Francois-Rene de', u'moyen')]

In [74]:
# Test
%sql SELECT * FROM RBA

Done.

[(11, u'Breton', u'Andre', u'petit'),
 (13, u'Barthes', u'Roland', u'moyen'),
 (16, u'Balzac', u'Honore de', u'moyen'),
 (18, u'Celine', u'Louis Ferdinand', u'gros'),
 (20, u'Chateaubriand', u'Francois-Rene de', u'moyen'),
 (21, u'Corbiere', u'Tristan', u'petit'),
 (23, u'Corneille', u'Pierre', u'petit'),
 (25, u'Char', u'Rene', u'petit'),
 (27, u'Dumas', u'Alexandre', u'gros'),
 (29, u'Fournier', u'Alain', u'petit'),
 (32, u'Eluard', u'Paul', u'moyen'),
 (34, u'Mauriac', u'Francois', u'petit'),
 (35, u'Fromentin', u'Eugene', u'gros'),
 (36, u'Maurois', u'Andre', u'petit'),
 (37, u'Freud', u'Sigmund', u'petit'),
 (39, u'Montesquieu', None, u'gros'),
 (42, u'Goethe', u'Johann Wolfgang von', u'moyen'),
 (43, u'Musset', u'Alfred de', u'gros'),
 (46, u'Hugo', u'Victor', u'moyen'),
 (47, u'Gary', u'Romain', u'petit'),
 (51, u'Lafargue', u'Paul', u'petit'),
 (53, u'Lamartine', u'Alphonse de', u'gros'),
 (54, u'Aurele', u'Marc', u'petit'),
 (55, u'Michelet', u'Jules', u'gros'),
 (56, u'Nerval', u'Gerard de', u'petit'),
 (57, u'Marx', u'Karl', u'gros'),
 (59, u'Nietzsche', u'Friedrich', u'petit'),
 (63, u'Maupassant', u'Guy de', u'petit'),
 (64, u'Platon', None, u'gros'),
 (65, u'Pascal', u'Blaise', u'petit'),
 (66, u'Perec', u'Georges', u'gros'),
 (67, u'Nin', u'Anais', u'petit'),
 (68, u'Prevert', u'Jacques', u'gros'),
 (69, u'Queneau', u'Raymond', u'petit'),
 (70, u'Paulhan', u'Jean', u'gros'),
 (71, u'Radiguet', u'Raymond', u'petit'),
 (72, u'Rabelais', u'Francois', u'gros'),
 (73, u'Poe', u'Allan Edgard', u'moyen'),
 (74, u'Rimbaud', u'Arthur', u'petit'),
 (76, u'Racine', u'Jean', u'gros'),
 (77, u'Rousseau', u'Jean-Jacques', u'petit'),
 (78, u'Sandier', u'Jules', u'moyen'),
 (79, u'Sade', u'Donatien Alphonse Fran\xbf\xbfs de', u'gros'),
 (81, u'Sartre', u'Jean-Paul', u'gros'),
 (83, u'Sophocle', None, u'gros'),
 (84, u'Sue', u'Eugene', u'moyen'),
 (85, u'Segalen', u'Victor', u'petit'),
 (86, u'Saint Exupery', u'Antoine de', u'gros'),
 (87, u'Segur', u'Comtesse de', u'gros'),
 (88, u'Shakespeare', u'William', u'petit'),
 (89, u'Stendhal', None, u'petit'),
 (90, u'Vian', u'Boris', u'petit'),
 (91, u'Verlaine', u'Paul', u'gros'),
 (93, u'Virgile', None, u'gros'),
 (95, u'Zorn', u'Fritz', u'moyen'),
 (98, u'Maturin', u'Robert', u'gros'),
 (99, u'Cesar', u'Jules', u'gros')]

#### Exercise 2.5

Insert a tuple (101, 'your last name', 'your first name', 'your type of purchases(petit, moyen, or gros)') to "**RBA**".

In [75]:
%%sql 
INSERT INTO RBA (NB,NOM,PRENOM,TYPE)
VALUES (101, 'Fotso', 'Axel', 'petit')

1 rows affected.

[]

In [76]:
# Test
%sql SELECT * FROM RBA

Done.

[(11, u'Breton', u'Andre', u'petit'),
 (13, u'Barthes', u'Roland', u'moyen'),
 (16, u'Balzac', u'Honore de', u'moyen'),
 (18, u'Celine', u'Louis Ferdinand', u'gros'),
 (20, u'Chateaubriand', u'Francois-Rene de', u'moyen'),
 (21, u'Corbiere', u'Tristan', u'petit'),
 (23, u'Corneille', u'Pierre', u'petit'),
 (25, u'Char', u'Rene', u'petit'),
 (27, u'Dumas', u'Alexandre', u'gros'),
 (29, u'Fournier', u'Alain', u'petit'),
 (32, u'Eluard', u'Paul', u'moyen'),
 (34, u'Mauriac', u'Francois', u'petit'),
 (35, u'Fromentin', u'Eugene', u'gros'),
 (36, u'Maurois', u'Andre', u'petit'),
 (37, u'Freud', u'Sigmund', u'petit'),
 (39, u'Montesquieu', None, u'gros'),
 (42, u'Goethe', u'Johann Wolfgang von', u'moyen'),
 (43, u'Musset', u'Alfred de', u'gros'),
 (46, u'Hugo', u'Victor', u'moyen'),
 (47, u'Gary', u'Romain', u'petit'),
 (51, u'Lafargue', u'Paul', u'petit'),
 (53, u'Lamartine', u'Alphonse de', u'gros'),
 (54, u'Aurele', u'Marc', u'petit'),
 (55, u'Michelet', u'Jules', u'gros'),
 (56, u'Nerval', u'Gerard de', u'petit'),
 (57, u'Marx', u'Karl', u'gros'),
 (59, u'Nietzsche', u'Friedrich', u'petit'),
 (63, u'Maupassant', u'Guy de', u'petit'),
 (64, u'Platon', None, u'gros'),
 (65, u'Pascal', u'Blaise', u'petit'),
 (66, u'Perec', u'Georges', u'gros'),
 (67, u'Nin', u'Anais', u'petit'),
 (68, u'Prevert', u'Jacques', u'gros'),
 (69, u'Queneau', u'Raymond', u'petit'),
 (70, u'Paulhan', u'Jean', u'gros'),
 (71, u'Radiguet', u'Raymond', u'petit'),
 (72, u'Rabelais', u'Francois', u'gros'),
 (73, u'Poe', u'Allan Edgard', u'moyen'),
 (74, u'Rimbaud', u'Arthur', u'petit'),
 (76, u'Racine', u'Jean', u'gros'),
 (77, u'Rousseau', u'Jean-Jacques', u'petit'),
 (78, u'Sandier', u'Jules', u'moyen'),
 (79, u'Sade', u'Donatien Alphonse Fran\xbf\xbfs de', u'gros'),
 (81, u'Sartre', u'Jean-Paul', u'gros'),
 (83, u'Sophocle', None, u'gros'),
 (84, u'Sue', u'Eugene', u'moyen'),
 (85, u'Segalen', u'Victor', u'petit'),
 (86, u'Saint Exupery', u'Antoine de', u'gros'),
 (87, u'Segur', u'Comtesse de', u'gros'),
 (88, u'Shakespeare', u'William', u'petit'),
 (89, u'Stendhal', None, u'petit'),
 (90, u'Vian', u'Boris', u'petit'),
 (91, u'Verlaine', u'Paul', u'gros'),
 (93, u'Virgile', None, u'gros'),
 (95, u'Zorn', u'Fritz', u'moyen'),
 (98, u'Maturin', u'Robert', u'gros'),
 (99, u'Cesar', u'Jules', u'gros'),
 (101, u'Fotso', u'Axel', u'petit')]

#### Exercise 2.6

Compare the content of _table_ "**RBA**" and the _view_ "**buveurs_asec**". What differences do you see? Explain

Answer: The table **RBA** contains the row just inserted while the view **buveurs_asec** is the same as before (no change ) . 
**Explanation** : **RBA** is a table built querying the view **buveurs_asec** , afther this operation , the table is not longer linked to the the view , So any update on the table RBA don't affect the view which can be affected only if its "building query" gives a different result.

___
# PART III: Design the database schema for posts in a Social Network

In this section your task is to design the database schema for a social network app of a new startup:

The new social network will contain users, where each user will have a name, a nickname, an email, date of birth, and an address (Street, City, State, Country, Postal Code). Users can be friends of other users, and can publish posts. Each post can contain a text, date and attachment. Posts can be either original posts or replies so the app needs to handle both scenarios. When users log in, the app needs to display the posts of their friends.

**Note:** You can create diagrams of your proposal and insert them as images into this notebook.

#### Exercise 3.1

Write and explain the design of the relations of your database

Answer:  Our database contains 4 tables (the primary keys are highlighted in **bold** : 
- USER (**Uid**, Name, NickName, Email, Date_of_Birth, Address ) : This is the table containing basic informations about users. Each tuple is uniquely identified by the user id Uid. 
  - Uid is a number representing the user id 
  - Name, Nickname, Email are VARCHAR 
  - Date_of_birth is a date 
  - Address is a -structured- VARCHAR in the form : street-City-Sate-Country, PC . This string is       generated from the web site. Some user defined function can help to split it whith the objective of extracting only the field of the adress we are interessed in. 
- RELATIONSHIP(**User1** ,**User2**) : This table medels the relationships between the users . If a tuple (U1, U2) exits then it means that the user with id U2 is friend of user with id U2. Obviously this implies (for the sake of reflexivity) that also the tuple (U2,U1) exists. This reflexibility constraint can be managed wiht a trigger on the table RELATION. 
- POST (**postId**, UserId, date, text, attachements, isRepost,originalId ) : This table models the posts. Each post is identified with a postId . One post is associated to only one user and one user can be owner of more than one post. the column isRepost is a boolean , when set to 1 this means that the post is a repost of the post wiht id equal to originalId ( nullable ). The field attachement can be a link to repository (on an internal server) containing images , sounds and video.

#### Exercise 3.2

Write a view to retrieve the posts to display when a user logs in. Consider that some users may have a lot of friends and you need to limit the number of post to display. How would you select relevant posts to display first? What kind of information would you use/add in the database for this purpose? Explain your answer.

__Note:__ Limiting the number of posts just by count is too simplistic, the user could be missing something interesting to him/her.

Answer: We suppose we want to display the posts to user with id=1541
```sql 
-- This query is selecting text and attachment of at most 15 posts posted by users that are friend of user whit id= 1541
CREATE VIEW loginvisual  as
SELECT  text, attachemnts 
FROM POST
WHERE UserId in (Select User2 
                 FROM RELATIONSHIP 
                 WHERE User2=1541)
LIMIT 15
```  
This way of displaying information as said is too simplistic , this is why in oder to improve this i would add to each post a **DegreeOfInterest** which is a number computed based on the number of friend that rated (liked) / commented (these features should be added too) the post and the total number of users in the entire social network that (liked) / commented (these features should be added too) the post.